<div class="container">
  <section-header></section-header>
  <main>
    <section class="featured-categories">
      <div class="category-card">
        <a routerLink="/">
          <img src="/assets/banner/pexels-sebastian-coman-photography-1598188-3669501.jpg" alt="Starter">
          <h2>Starter</h2>
          <p>Explore our collection of vegetarian recipes.</p>
        </a>
      </div>
      
      <div class="category-card">
        <a routerLink="/">
          <img src="/assets/banner/pexels-bulbfish-1143754.jpg" alt="Dish">
          <h2>Dish</h2>
          <p>Discover mouthwatering vegetarian dishes.</p>
        </a>  
      </div>
    </section>
  </main>
  <section-footer></section-footer>
</div>