<div class="container">
  <section-header></section-header>
  <main>
    <section class="featured-categories">
      <div class="category-card">
        <a routerLink="/">
          <img src="/assets/banner/pexels-jdgromov-6427777.jpg" alt="Starter">
          <h2>Mocktail</h2>
          <p>Explore our collection of Mocktail.</p>
        </a>
      </div>
      
      <div class="category-card">
        <a routerLink="/">
          <img src="/assets/banner/pexels-nietjuh-2479242.jpg" alt="Dish">
          <h2>Fruit beverages</h2>
          <p>Discover refreshing and delicious fruit juice.</p>
        </a>  
      </div>
    </section>
  </main>
  <section-footer></section-footer>
</div>