header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 36px;
  color: #333;
}

header p {
  font-size: 18px;
  color: #666;
}
.header-bg {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
  color: #333; /* Adjust color as needed */
}

.social-icons a:last-child {
  margin-right: 0;
}