<header class="header-bg">
  <h1>Welcome to Recipe Directory</h1>
  <p>Discover delicious recipes from around the world!</p>
  <div class="social-icons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://your-website-url.com" target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-facebook" size="large" style="color: aqua;"></ion-icon>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://your-website-url.com" target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-linkedin" size="large" style="color:blue;"></ion-icon>
    </a>
  </div>
</header>
