body {
  font-family: Arial, sans-serif;
  background-image: url('/assets/banner/home-bg.jpg');
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.food-item {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%; /* Make all corners rounded to create a circular shape */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.food-item h2, .food-item p {
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better readability */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
