<div class="container">
  <section-header></section-header>
  <main>
    <section class="featured-categories">
      <div class="category-card">
        <a routerLink="/">
          <img src="/assets/banner/non-veg-starter-bg.jpg" alt="Starter">
          <h2>Starter</h2>
          <p>Explore our collection of Starter recipes.</p>
        </a>
      </div>
      
      <div class="category-card">
        <a routerLink="/">
          <img src="/assets/banner/non-veg-dish-bg.jpg" alt="Dish">
          <h2>Dish</h2>
          <p>Discover mouthwatering Meat and Fish in a fine wrap.</p>
        </a>  
      </div>
    </section>
  </main>
  <section-footer></section-footer>
</div>