.back-button {
  background-image: url('/assets/icons/left-arrow.png');
  background-color: #808080; /* Ash steel color */
  color: transparent; /* Hide the text content */
  border: none;
  width: 40px; /* Adjust button width */
  height: 40px; /* Adjust button height */
  cursor: pointer;
}

.back-button:hover {
  background-color: #a9a9a9; /* Lighter ash steel color on hover */
}