footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

footer p {
  font-size: 14px;
}

.footer-bg {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}
