* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none; /* Remove underline from anchor tags */
  color: inherit; /* Inherit text color from parent */
}

/* Utilities */
.h-screen {
  height: 100vh !important;
}

.h-100 {
  height: 100% !important;
}
