<div class="home h-screen">
  <div class="container h-100">
    <section-header></section-header>
    <main>
      <section class="featured-categories">
        <div class="category-card">
          <a routerLink="/veg">
            <img src="assets/banner/veg-bg.jpg" alt="Veg">
            <h2>Veg</h2>
            <p>Explore our collection of vegetarian recipes.</p>
          </a>
        </div>
        <div class="category-card">
          <a routerLink="/non-veg">
            <img src="/assets/banner/non-veg-bg.jpg" alt="Non-Veg">
            <h2>Non-Veg</h2>
            <p>Discover mouthwatering non-vegetarian dishes.</p>
          </a>  
        </div>
        <div class="category-card">
          <a routerLink="/dessert">
            <img src="/assets/banner/dessert-bg.jpg" alt="Desserts">
            <h2>Desserts</h2>
            <p>Satisfy your sweet tooth with our delectable desserts.</p>
          </a>  
        </div>
        <div class="category-card">
          <a routerLink="/juice">
            <img src="/assets/banner/jouce-bg.jpg" alt="Desserts">
            <h2>Jouice</h2>
            <p>Satisfy your sweet tooth with our refreshing juices.</p>
          </a>  
        </div>
      </section>
    </main>
    <section-footer></section-footer>
  </div>
</div>
