<div class="container">
  <header class="header-bg">
    <h1>Welcome to Recipe Directory</h1>
    <p>Discover delicious recipes from around the world!</p>
  </header>
  <main>
    <section class="featured-categories">
      <div class="category-card">
        <a routerLink="/veg">
          <img src="assets/banner/veg-bg.jpg" alt="Veg">
          <h2>Veg</h2>
          <p>Explore our collection of vegetarian recipes.</p>
        </a>
      </div>
      <div class="category-card">
        <img src="/assets/banner/non-veg-bg.jpg" alt="Non-Veg">
        <h2>Non-Veg</h2>
        <p>Discover mouthwatering non-vegetarian dishes.</p>
      </div>
      <div class="category-card">
        <img src="/assets/banner/dessert-bg.jpg" alt="Desserts">
        <h2>Desserts</h2>
        <p>Satisfy your sweet tooth with our delectable desserts.</p>
      </div>
      <div class="category-card">
        <img src="/assets/banner/jouce-bg.jpg" alt="Desserts">
        <h2>Jouice</h2>
        <p>Satisfy your sweet tooth with our refreshing juices.</p>
      </div>
    </section>
  </main>
  <footer class="footer-bg">
    <p>&copy; 2024 Sagnik Dey. All rights reserved.</p>
  </footer>
</div>
